html, body {
    background-color: #36393f;
}

.title, .label, .help {
    color: #FFFFFF;
}

.margin-top-40 {
    margin-top: 40px;
}

.copy-buttons {
    margin-top: 15px;
}

pre {
    background-color: #2f3136;
    color: white;
}

.input, .select select {
    background-color: #2f3136;
    border-color: #36393f;
    color: white;
}
